{% extends 'base.html' %}


{% block title %}
{{product.title}}
{% endblock %}

{% block content %}
<div class="container-fluid" id="product-details">
    <div class="row">
        <div class="col">
            <img src="{{product.image.url}}" class="w-100" alt="">
        </div>
        <div class="col">
            <h2>
                {{product.title.capitalize}}
            </h2>
            <p>
                {{product.desc}}
            </p>
            <p>
                &#8377;{{product.price}}
            </p>


            <div id="button">
                <a href="{% url 'edit_product' product.pk %}" class="col-sm-4 btn btn-warning">Edit Product</a>
                <a href="{% url 'deleteproduct' product.pk %}" class="col-sm-4 btn btn-danger">Delete Product</a>
            </div>

        </div>

    </div>

</div>


{% endblock %}