{% extends 'base.html' %}


{% block title %}
{{product.title}}
{% endblock %}

{% block content %}
<div class="container-fluid" id="product-details">
    <div class="row">
        <div class="col">
            <img src="{{product.image.url}}" class="w-100" alt="">
        </div>
        <div class="col text-dark">
            <h2>
                {{product.title.capitalize}}
            </h2>
            <p>
                {{product.desc}}
                {% if product.seller %}
                <small>sold by : {{product.seller.user_profile.full_name}}</small>
                {% endif %}
            </p>
            <p>
                &#8377;{{product.price}}
            </p>


            <div id="button">
                
                {% if product.seller == user   %}
                <a href="{% url 'edit_product' product.pk %}" class="col-sm-4 btn btn-warning">Edit Product</a>
                <a href="{% url 'deleteproduct' product.pk %}" class="col-sm-4 btn btn-danger">Delete Product</a>
                {% else %}
                {% if not seller %}
                <a href="{% url 'add_product'  %}" class="col-sm-4 btn btn-primary">Add Product</a>
                {% endif %}
                {% endif %}
                
            </div>

        </div>

    </div>

</div>


{% endblock %}