{% extends 'base.html' %}

{% block title %}

{% endblock %}

{% block content %}

<form method="post" style="width: 500px;
    margin-top: 98px;
    margin-left: 16px;">
    {% csrf_token %}
    <h3 style="color: black;">Select an Address</h3>
    <ul>
        {% for address in addresses %}
        <li>
            <label style="color: black;">
                <input type="radio" name="address" value="{{ address.id }}">
                {{ address.full_name }}, {{ address.address_line1 }}, {{ address.city }}, {{ address.state }} - {{ address.pincode }}
            </label>
        </li>
        {% endfor %}
    </ul>
    <button type="submit" class="btn btn-primary">Select Address</button>
</form>
<a href="{% url 'add_address'  %}?next={{request.path}}" class="btn btn-secondary" style="margin-left: 16px; margin-top: 10px;">Add address</a>


{% endblock %}