<div id="carouselExampleAutoplaying" class="carousel slide"
     data-bs-ride="carousel"
     style="position: sticky; top: 0; background-color:  #e0e0b2; width: 100%; justify-content: center; display: flex;">
  
  <div class="carousel-inner" style="width: 70%;">

    <div class="carousel-item active text-center">
      <img src="https://plus.unsplash.com/premium_photo-1681488262364-8aeb1b6aac56?fm=jpg&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8ZWNvbW1lcmNlfGVufDB8fDB8fHww&ixlib=rb-4.1.0&q=60&w=3000"
           style="width: 80%; height: 360px; object-fit: cover;"
           alt="Banner 1">
    </div>

    <div class="carousel-item text-center">
      <img src="https://cdn.wallpapersafari.com/88/1/yCBsi6.png"
           style="width: 80%; height: 360px; object-fit: cover;"
           alt="Banner 2">
    </div>

    <div class="carousel-item text-center">
      <img src="https://cdn.wallpapersafari.com/12/6/4hJizf.jpg"
           style="width: 80%; height: 360px; object-fit: cover;"
           alt="Banner 3">
    </div>

  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>

  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
