<div class="card">
        <div class="card-img">
            <img src="{{product.image.url}}" alt="">
        </div>
        <div class="card-body">
            <div class="card-title">
                <a href="{% url 'prod_details' product.pk %}">
                {{product.title}}
                </a>
                
            </div>
            <div class="card-text">
                <span>&#8377; {{product.price}}</span>
            </div>
            
            {% if not seller %}
            <a href="{% url 'add_to_cart' product.id %}" class="btn {% if user.is_staff  %}btn-secondary disabled {% else %}btn-primary{% endif %}">Add to Cart</a>
            {% endif %}
        </div>
    </div>